@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header id="masthead">
    <h1>Rapleaf/Codemash Demo</h1>
    
    <p>By Kevin Deenanauth</p>

    <nav id="nav"></nav>

</header>
<article>
<header id="introduction">
    <h1>Hi Rosetta! <span>Follows is a fun Rapleaf-Responsive-Web-Design-SignalR-C#-Async-experiment.</span></h1>
</header>
<div class="container">

</div>
</article>